body {
    background-color: #58595b;
}
.topnav {
    background-color: #456491;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: noka light, arial, sans-serif;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgb(3, 46, 109);
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

img {
    height: 590px;
    width: 400px;
    position: relative;
    margin-top: 45px;
    margin-left: 75%;
}

.movie_pic{
    display: grid;
    grid-template-columns: 12fr;
}